@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 100svh;
  font-size: 1.2rem;
  background: radial-gradient(
    circle at top,
    rgba(3, 8, 61, 0.884) 1%,
    rgb(0, 1, 22)
  );
  overflow: hidden;
}