@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 100svh;
  font-size: 1.2rem;
  background: linear-gradient(
    150deg, rgb(152, 157, 218) 30%,
    rgb(240, 137, 90) 50%,
    rgba(73, 37, 110, 0.884) 80%
  );
  overflow: hidden;
}
